// main.styl
$body-font-family = 'PixelMplus', 'ヒラギノ丸ゴ Pro', 'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'HG丸ｺﾞｼｯｸM-PRO', 'HGMaruGothicMPRO' !important;



$material-light.background = #fff !important;
$material-dark.background = #000 !important;

@import '~vuetify/src/stylus/main.styl'